/*Stylesheet */

body {
    width: 1024px;
    background-color: rgb(211, 224, 211);
    margin: auto;
    font-family: sans-serif;
}


/* Header */

header {
    height: min-content;
    background-color: rgb(145, 134, 167);
    ;
    display: flex;
    flex-direction: row;
    border-top: 2px solid black;
    border-bottom: 0px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}


/* Footer color and border */

footer {
    background-color: darkgray;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

#core-container {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}


/* Page name and logo display */

#logo {
    display: flex;
    align-items: center;
    margin: 0px;
    padding-left: 2px;
}


/* menu */

header ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    list-style: none;
}


/*   */

header ul {
    padding-inline-start: 0px;
}

header nav {
    height: 100%;
    font-size: 18px;
    font-weight: 600;
}


/*  */

header nav li {
    background-color: rgb(145, 134, 167);
    padding: 15px;
    border-right: 2px solid black;
}

header nav .leftmost-url {
    border-left: 2px solid black;
}

#main-index {
    background-color: rgba(226, 219, 202, 0.486);
    text-align: left;
}

#articles {
    display: flex;
    flex-direction: row;
}

#main-index article {
    background-color: rgb(212, 224, 203);
    height: min-content;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
}

#articles #left-article {
    margin-right: 0px;
}

#first-content h2 {
    width: min-content;
    background-color: rgb(212, 224, 203);
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    border: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
}


/* Formating first-content content */

#first-content p {
    background-color: rgb(212, 224, 203);
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    border: 2px solid black;
    align-items: center;
}

#first-content-right h3 {
    width: min-content;
    background-color: rgb(212, 224, 203);
    margin-top: 12px;
    padding: 6px;
    border: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
}


/* Styling for side content */

#sidebar-right {
    background-color: rgb(226, 226, 235);
    border-left: 2px solid black;
}


/* Styling for the contents of the side content */

#side-info {
    background-color: rgb(212, 224, 203);
    width: 190px;
    height: min-content;
    padding-left: 15px;
    padding-right: 50px;
    margin: 20px;
    border: 2px solid black;
}


/* Background and default text alignment for content in the main login content */

#main-login {
    background-color: rgb(212, 224, 203);
    text-align: left;
    border: 2px solid black;
}


/* Styling for the heading element on the login page */

#main-login h2 {
    background-color: rgb(212, 224, 203);
    width: min-content;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    border: 2px solid black;
    text-transform: uppercase;
}


/* Styling for the login form */

#main-login form {
    background-color: rgb(212, 224, 203);
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
}


/* Contact page */

#main-contact {
    background-color: rgb(212, 224, 203);
    text-align: left;
    border: 2px solid black;
}


/* Display text input  */

form .text-input {
    width: min-content;
    display: flex;
    flex-direction: column;
    margin: 0px;
}